{% extends "basefront.html.twig" %}

{% block title %}Register{% endblock %}

{% block body %}
    <h2 class="mt-2">Inscription</h2>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.uuid, {
            label: 'Pseudo'
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="mt-2 btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
